.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	background-color: aliceblue;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	padding: 5% 5px;
	background-color: #bdf2eb;
	height: 58px;
	border-bottom: #d9d9d9 solid 1px;
}

.texts {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	/* first:{margin-bottom: 20px;} */
}

.blockMinMap {
	display: flex;
	flex-direction: column;
	width: 48px;
	height: 48px;
	align-items: center;
	justify-content: center;
}

.blockMinMap .line,
.gameView .line {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0px;
}

.blockMinMap .line view {
	width: 12px;
	height: 12px;
}

.gameView .line view {
	border: 1px solid rgba(20, 81, 154, 0.1);
	width: 40upx;
	height: 40upx;
}

.blockMinMap .line .block {
	border: 1px solid #edf5fa;
	width: 10px;
	height: 10px;
	background-color: #7cc0eb;
	/* margin-left: -1px; */
	/* position: relative; */
}

.gameView .line .block {
	border: 1px solid #edf5fa;
	background-color: #7cc0eb;
	/* margin-left: -1px; */
	/* position: relative; */
}

.gameView {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttonView {
	width: 90%;
	padding: 5% 5px;
	border-top: #cffffd solid 1px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buttonView view {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 22%;
	border: #555555 solid 1px;
	border-radius: 10px;
	height: 30px;
	/* background-color: #cffffd; */
	background: linear-gradient(#cffffd, #00BFFF);
	box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.5);
}

.buttonView view:active {
	background: linear-gradient(#A2CD5A, #BCEE68);
}